// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400&display=swap');

@import 'meyers-reset';
@import 'mixins';

@import 'abstracts/variables';
@import 'abstracts/settings';

// Foundation sites
@import 'node_modules/foundation-sites/assets/foundation.scss';

body {
	position: relative;
	box-sizing: border-box;
	min-width: 100%;
	min-height: 100%;

	font-family: $font-family-sans-serif;
	font-size: $font-size-base;
	line-height: $line-height-base;
	font-weight: $font-weight-base;
	color: $light-black;

	background-color: $body-bg;

	padding-right: 0.625rem;
	padding-left: 0.625rem;
	@include breakpoint(xxlarge) {
		padding-right: $body-padding-base;
		padding-left: $body-padding-base;
	}
}

.user-nav {
	color: $light-black;
	a, a:hover {
		color: $theme-blue;
	}
}

.my-login-card {
	max-width: 500px;
	.card {
		font-size: 10px;
		border-color: $primary-color;
		.card-divider {
			color: $white;
			background-color: $primary-color;
		}
		.button {
			margin: 0;
		}
	}
}
