// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700&display=swap');

@import 'meyers-reset';
@import 'mixins';

@import 'abstracts/settings';

// Foundation sites
@import 'node_modules/foundation-sites/assets/foundation.scss';

body {
	padding-right: 0.625rem;
	padding-left: 0.625rem;
	@include breakpoint(xxlarge) {
		padding-right: $global-padding;
		padding-left: $global-padding;
	}
}

.user-nav {
	color: inherit;
	a, a:hover {
		color: $primary-color;
	}
	.menu .menu-text {
	    font-weight: $global-weight-bold;
		line-height: inherit;
	}
}

.my-login-card {
	max-width: 500px;
	.card {
		font-size: 10px;
		border-color: $primary-color;
		.card-divider {
			color: $white;
			background-color: $primary-color;
		}
		.button {
			margin: 0;
		}
	}
}
