.chevron {
    height: 1rem;
    width: auto;
    &--up {
        @include rotate(180);
    }
}

#fullpage {
    .section {
        @include xy-gutters($grid-container-padding, padding, top bottom, false);
    }
    .carousel {
        margin-top: $header-margin-bottom;
    }
    .theme-1 {
        background-color: $white;
        color: $primary-color;
        .button {
            border: 2px solid $primary-color;
            &:hover {
                background-color: $primary-color;
                color: $white;
            }
        }
        select {
            background-image: url('/storage/icons/vector.svg#chevron-blue');
            option {
                background-color: $white;
            }
        }
    }
    .theme-2 {
        background-color: $primary-color;
        color: $white;
        .button {
            border: 2px solid $white;
            &:hover {
                background-color: $white;
                color: $primary-color;
            }
        }
        select {
            background-image: url('/storage/icons/vector.svg#chevron-white');
            option {
                background-color: $primary-color;
            }
        }
    }
    .theme-3 {
        padding: 10px;
        color: $white;
        text-align: right;
        background-repeat: no-repeat;
        background-position: center center;
        @include background-size(cover);
    }

    .input-container, .select-container {
        position: relative;
        padding-left: 0;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid;
        color: inherit;
        label.error {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0.5rem;
            color: $alert-color;
            font-size: $global-font-size;
            display: flex;
            align-items: center;
        }
    }
    .select-container {
        label.error {
            margin-right: 1.5rem;
        }
    }
    select, input {
        margin: 0;
        padding: 0;
        border: 0;
        color: inherit;
        background-color: inherit;
        box-shadow: none;
        height: auto;
        @include placeholder {
            color: inherit;
            opacity: 1;
        }
    }
    select {
        cursor: pointer;
        padding-right: 1rem;
        background-size: 1rem;
        background-position-x: right -1rem;
        text-indent: -2px;
        option {
            height: auto;
            padding: 0;
        }
    }

    .button-group {
        max-width: 250px;
    }
    .button {
        @include xy-gutters($grid-margin-gutters, margin, top, false);
        max-width: 250px;
        font-size: 20px;
        font-weight: 500;
        padding: 0;
        height: 40px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:focus {
            background-color: inherit;
            color: inherit;
        }
    }

    .underlined {
        padding-bottom: $header-margin-bottom;
        margin-bottom: $header-margin-bottom;
        border-bottom: solid 2px;
    }
}

#slide-1 {
    .my-logo {
        position: relative;
        img {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            max-width: 150px;
            max-height: 100%;
            @include breakpoint(medium) {
                max-width: 250px;
            }
        }
    }
}
#slide-2 {
    background-image: url('/storage/calculator/196_Thun_BB_Ext@1280.jpg');
    @include breakpoint(medium) {
        background-image: url('/storage/calculator/196_Thun_BB_Ext@2560.jpg');
    }
}
#slide-9 {
    background-position-x: right -100px !important;
    background-position-y: bottom 0 !important;
    background-image: url('/storage/calculator/render-centre-scolaire-vernets-exterieur-bbharchitectes-2018@1280.jpg');
    @include breakpoint(medium) {
        background-position-x: center !important;
        background-image: url('/storage/calculator/render-centre-scolaire-vernets-exterieur-bbharchitectes-2018@2560.jpg');
    }
}
#slide-4 {
    .style-star {
        margin: 0;
        height: 1.5rem;
        fill: white;
        @include transition(fill 0.2s);
        svg {
            height: 100%;
            width: auto;
        }
    }
    input:checked ~ .style-star {
        fill: $primary-color;
    }
}
#slide-5 {
    .select-container {
        padding-top: rem-calc(18);
        padding-bottom: rem-calc(18);
    }
    .total {
        margin-top: 1.5rem;
    }
}
#slide-8 {
    .coworker {
        margin-bottom: $header-margin-bottom;
    }
}

#my-fp-nav {
    @include xy-gutters($grid-container-padding, margin, bottom, false);
    height: 1rem;
    position: fixed;
    z-index: 100;
    bottom: 0;
    stroke: $primary-color;
    button {
        margin-right: 4px;
        cursor: pointer;
        &:disabled {
            opacity: 0.5;
        }
    }
}
