@use  'base';

#about {
    @include media-breakpoint-up(md){
        h1 {
            padding-top: 1.5rem;
        }
    }

    h1 {
        margin-bottom: 2rem;
    }
    h2 {
        padding-top: 1rem;
    }

    section {
        padding: 4rem 0;
        @include media-breakpoint-up(sm){
            padding-left: 7.5rem;
        }
        @include media-breakpoint-up(md){
            padding-left: 10rem;
            padding-right: 1rem;
        }
        @include media-breakpoint-up(xl){
            padding-left: 10rem;
            padding-right: 10rem;
        }
    }

    #clients {
        p {
            font-size: 0.866em;
            margin-bottom: 1em;
        }
    }

    #team {
        img {
            margin-top: 2em;
        }
    }
}
