// Body
$body-bg: white;
$body-padding-base: 4rem;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9375rem;
$line-height-base: 1.6;
$font-weight-base: 300;

// Colors
$light-black: #333333;
$theme-blue: #3D5D6B;
$light-brown: #F2EFEB;
